*{
   margin:0px;
   padding:0px;
 }
 body {
 font-family: "Lato", sans-serif;
 background-image: url(ima2/14.jpg);  /* imagen de fondo*/
 background-size:100%;
 background-attachment:;/*no colocar*/
 background-repeat:no-repeat;  
 }
 div#Principal {
      margin:;
	  background-color:   ;
      width:;
	  height:;
	  background-color:;
	  }

 
div#Secundario {
      margin:;
	  background-color:;
      width:;
	  height:;
	  background-color: ;
	  }

div#Header {
      margin:auto;
	  background-color:black  ;
      width:;
	  height:;
	  background-color:black;
	  }

div#Menu {
	  float:left;
	  background-color: ;
      width:;
	  height:;
	  background-color:;
	  }
	  
div#Contenedor {/* center cuadro inicio admin */
       float:right;
	  background-color:  ;
      width:1000px;
	  height:90px;
	  background-color:;
	  }
	  
div#Consultas {/* cuadro de diagnostico admin */
      margin:auto;
	  background-color:#EDEDED ;
      width:980px;
	  height:auto;
	  background-color:white-space;
	  }
	  
div#Inicio {/* cuadro de inicio posicion  */
      margin:left;
	  background-color:#EDEDED;
      width:800px;
	  height:100px;
	  background-color:white-space;
	  }
	  
div#Usuarios {
      margin:auto;
	  background-color:#EDEDED;
      width:980px;
	  height:auto;
	  background-color:white-space;
	  }
	  
div#Citas {
      margin:auto;
	  background-color:#EDEDED;
      width:800px;
	  height:800px;
	  background-color:white-space;
	  }
	  
div#Clientes {
      margin:auto;
	  background-color:#EDEDED;
      width:800px;
	  height:700px;
	  background-color:white-space;
	  }
	  
div#Pacientes_Secretaria {
      margin:auto;
	  background-color:black;
      width:1200px;
	  height:auto;
	  background-color:white-space;
	  border-radius: 20px;
	  border: 3px solid black;
      border-style: solid;
	  }	  
	  
div#Final{
   position:fixed;
   left:0px;
   bottom:0px;
   height:70px;
   width:100%;
   background:;
   background-color;
 
 }
 
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

 
div#Contenedor3{
	  margin:auto;
	  margin-top:10px;
      width:400px;
	  height:400px;
	  background-color :#880018  ;
	  border-radius: 20px;
	  border: 3px solid black;
      border-style: solid;
}

div#MisDatos{
      margin:auto;
	  background-color:#EDEDED;
      width:800px;
	  height:700px;
	  background-color:white-space;
	  }
 
 
 
 
 div#Diagnostico_Automotris{
      margin:auto;
	  background-color:#EDEDED;
      width:1200px;
	  height:auto;
	  background-color:white-space;
	  border-radius: 20px;
	  border: 3px solid black;
      border-style: solid;
	  }
 
 
 
 
 
 
 
 
 
 