*{
   margin:50px;
   padding:0px;
 }
 .cent
body {font-family: "Lato", sans-serif;
 background-image: url(ima2/7.jpg);  /* imagen de fondo*/
 background-size:100% 100%;
 background-attachment:;/*no colocar*/
 background-repeat:no-repeat;
 

  
 }
	  

	  

	  
